USE [master]
GO
/****** Object:  Database [Lection3Problem03]    Script Date: 4.1.2015 г. 23:35:06 ч. ******/
CREATE DATABASE [Lection3Problem03]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lection3Problem3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Lection3Problem3.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Lection3Problem3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Lection3Problem3_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lection3Problem03].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lection3Problem03]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 4.1.2015 г. 23:35:06 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[Courses_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[Courses_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COURSES_STUDENTS]    Script Date: 4.1.2015 г. 23:35:06 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES_STUDENTS](
	[ID_Courses] [int] NOT NULL,
	[ID_Students] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 4.1.2015 г. 23:35:06 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[Departments_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Faculties_ID] [int] NOT NULL,
 CONSTRAINT [PK_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[Departments_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTMENTS_COURSES]    Script Date: 4.1.2015 г. 23:35:06 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS_COURSES](
	[Departments_ID] [int] NOT NULL,
	[Courses_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FACULTIES]    Script Date: 4.1.2015 г. 23:35:06 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACULTIES](
	[Faculties_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_FACULTIES] PRIMARY KEY CLUSTERED 
(
	[Faculties_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFESORS]    Script Date: 4.1.2015 г. 23:35:06 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESORS](
	[Profesors_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PROFESORS] PRIMARY KEY CLUSTERED 
(
	[Profesors_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROFESORS_COURSES]    Script Date: 4.1.2015 г. 23:35:06 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFESORS_COURSES](
	[Profesors_ID] [int] NOT NULL,
	[Courses_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 4.1.2015 г. 23:35:06 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[Students_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[Students_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[COURSES_STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_STUDENTS_COURSES] FOREIGN KEY([ID_Courses])
REFERENCES [dbo].[COURSES] ([Courses_ID])
GO
ALTER TABLE [dbo].[COURSES_STUDENTS] CHECK CONSTRAINT [FK_COURSES_STUDENTS_COURSES]
GO
ALTER TABLE [dbo].[COURSES_STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_STUDENTS_STUDENTS] FOREIGN KEY([ID_Students])
REFERENCES [dbo].[STUDENTS] ([Students_ID])
GO
ALTER TABLE [dbo].[COURSES_STUDENTS] CHECK CONSTRAINT [FK_COURSES_STUDENTS_STUDENTS]
GO
ALTER TABLE [dbo].[DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENTS_FACULTIES] FOREIGN KEY([Faculties_ID])
REFERENCES [dbo].[FACULTIES] ([Faculties_ID])
GO
ALTER TABLE [dbo].[DEPARTMENTS] CHECK CONSTRAINT [FK_DEPARTMENTS_FACULTIES]
GO
ALTER TABLE [dbo].[DEPARTMENTS_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENTS_COURSES_COURSES] FOREIGN KEY([Courses_ID])
REFERENCES [dbo].[COURSES] ([Courses_ID])
GO
ALTER TABLE [dbo].[DEPARTMENTS_COURSES] CHECK CONSTRAINT [FK_DEPARTMENTS_COURSES_COURSES]
GO
ALTER TABLE [dbo].[DEPARTMENTS_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENTS_COURSES_DEPARTMENTS] FOREIGN KEY([Departments_ID])
REFERENCES [dbo].[DEPARTMENTS] ([Departments_ID])
GO
ALTER TABLE [dbo].[DEPARTMENTS_COURSES] CHECK CONSTRAINT [FK_DEPARTMENTS_COURSES_DEPARTMENTS]
GO
ALTER TABLE [dbo].[PROFESORS_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_PROFESORS_COURSES_COURSES] FOREIGN KEY([Courses_ID])
REFERENCES [dbo].[COURSES] ([Courses_ID])
GO
ALTER TABLE [dbo].[PROFESORS_COURSES] CHECK CONSTRAINT [FK_PROFESORS_COURSES_COURSES]
GO
ALTER TABLE [dbo].[PROFESORS_COURSES]  WITH CHECK ADD  CONSTRAINT [FK_PROFESORS_COURSES_PROFESORS] FOREIGN KEY([Profesors_ID])
REFERENCES [dbo].[PROFESORS] ([Profesors_ID])
GO
ALTER TABLE [dbo].[PROFESORS_COURSES] CHECK CONSTRAINT [FK_PROFESORS_COURSES_PROFESORS]
GO
USE [master]
GO
