USE [master]
GO
/****** Object:  Database [Lection3Problem05-06]    Script Date: 4.1.2015 г. 23:35:33 ч. ******/
CREATE DATABASE [Lection3Problem05-06]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lection3Problem05-06', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Lection3Problem05-06.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Lection3Problem05-06_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Lection3Problem05-06_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lection3Problem05-06].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lection3Problem05-06]
GO
/****** Object:  Table [dbo].[BG_Antonym]    Script Date: 4.1.2015 г. 23:35:33 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BG_Antonym](
	[BG_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Antonym] [int] NOT NULL,
 CONSTRAINT [PK_BG_Antonym] PRIMARY KEY CLUSTERED 
(
	[BG_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BG_Dictionary]    Script Date: 4.1.2015 г. 23:35:33 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BG_Dictionary](
	[BG_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Synonym] [int] NOT NULL,
	[Antonym] [int] NOT NULL,
 CONSTRAINT [PK_BG_Dictionary] PRIMARY KEY CLUSTERED 
(
	[BG_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BG_Synonym]    Script Date: 4.1.2015 г. 23:35:33 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BG_Synonym](
	[BG_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Synonym] [int] NOT NULL,
 CONSTRAINT [PK_BG_Synonym] PRIMARY KEY CLUSTERED 
(
	[BG_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DE_Antonym]    Script Date: 4.1.2015 г. 23:35:33 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DE_Antonym](
	[DE_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Antonym] [int] NOT NULL,
 CONSTRAINT [PK_DE_Antonym] PRIMARY KEY CLUSTERED 
(
	[DE_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DE_Dictionary]    Script Date: 4.1.2015 г. 23:35:33 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DE_Dictionary](
	[DE_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Synonym] [int] NOT NULL,
	[Antonym] [int] NOT NULL,
 CONSTRAINT [PK_DE_Dictionary] PRIMARY KEY CLUSTERED 
(
	[DE_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DE_Synonym]    Script Date: 4.1.2015 г. 23:35:33 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DE_Synonym](
	[DE_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Synonym] [int] NOT NULL,
 CONSTRAINT [PK_DE_Synonym] PRIMARY KEY CLUSTERED 
(
	[DE_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EN_Antonym]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EN_Antonym](
	[EN_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Antonym] [int] NOT NULL,
 CONSTRAINT [PK_EN_Antonym] PRIMARY KEY CLUSTERED 
(
	[EN_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EN_Dictionary]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EN_Dictionary](
	[EN_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Synonym] [int] NOT NULL,
	[Antonym] [int] NOT NULL,
 CONSTRAINT [PK_EN_Dictionary] PRIMARY KEY CLUSTERED 
(
	[EN_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EN_Synonym]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EN_Synonym](
	[EN_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Synonym] [int] NOT NULL,
 CONSTRAINT [PK_EN_Synonym] PRIMARY KEY CLUSTERED 
(
	[EN_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IT_Antonym]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IT_Antonym](
	[IT_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Antonym] [int] NOT NULL,
 CONSTRAINT [PK_IT_Antonym] PRIMARY KEY CLUSTERED 
(
	[IT_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IT_Dictionary]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IT_Dictionary](
	[IT_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Synonym] [int] NOT NULL,
	[Antonym] [int] NOT NULL,
 CONSTRAINT [PK_IT_Dictionary] PRIMARY KEY CLUSTERED 
(
	[IT_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IT_Synonym]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IT_Synonym](
	[IT_Word_ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](50) NOT NULL,
	[Part-of-speech] [nvarchar](50) NOT NULL,
	[Info] [nvarchar](250) NULL,
	[Synonym] [int] NOT NULL,
 CONSTRAINT [PK_IT_Synonym] PRIMARY KEY CLUSTERED 
(
	[IT_Word_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSLATION_BG_DE]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSLATION_BG_DE](
	[BG_ID] [int] NOT NULL,
	[DE_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSLATION_BG_IT]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSLATION_BG_IT](
	[BG_ID] [int] NOT NULL,
	[IT_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSLATION_DE_IT]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSLATION_DE_IT](
	[DE_ID] [int] NOT NULL,
	[IT_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSLATION_EN_BG]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSLATION_EN_BG](
	[EN_ID] [int] NOT NULL,
	[BG_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSLATION_EN_DE]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSLATION_EN_DE](
	[EN_ID] [int] NOT NULL,
	[DE_ID] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRANSLATION_EN_IT]    Script Date: 4.1.2015 г. 23:35:34 ч. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSLATION_EN_IT](
	[EN_ID] [int] NOT NULL,
	[IT_ID] [int] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BG_Antonym]  WITH CHECK ADD  CONSTRAINT [FK_BG_Antonym_BG_Dictionary] FOREIGN KEY([Antonym])
REFERENCES [dbo].[BG_Dictionary] ([BG_Word_ID])
GO
ALTER TABLE [dbo].[BG_Antonym] CHECK CONSTRAINT [FK_BG_Antonym_BG_Dictionary]
GO
ALTER TABLE [dbo].[BG_Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_BG_Dictionary_BG_Antonym] FOREIGN KEY([Antonym])
REFERENCES [dbo].[BG_Antonym] ([BG_Word_ID])
GO
ALTER TABLE [dbo].[BG_Dictionary] CHECK CONSTRAINT [FK_BG_Dictionary_BG_Antonym]
GO
ALTER TABLE [dbo].[BG_Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_BG_Dictionary_BG_Synonym] FOREIGN KEY([Synonym])
REFERENCES [dbo].[BG_Synonym] ([BG_Word_ID])
GO
ALTER TABLE [dbo].[BG_Dictionary] CHECK CONSTRAINT [FK_BG_Dictionary_BG_Synonym]
GO
ALTER TABLE [dbo].[DE_Antonym]  WITH CHECK ADD  CONSTRAINT [FK_DE_Antonym_DE_Dictionary] FOREIGN KEY([Antonym])
REFERENCES [dbo].[DE_Dictionary] ([DE_Word_ID])
GO
ALTER TABLE [dbo].[DE_Antonym] CHECK CONSTRAINT [FK_DE_Antonym_DE_Dictionary]
GO
ALTER TABLE [dbo].[DE_Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_DE_Dictionary_DE_Antonym] FOREIGN KEY([Antonym])
REFERENCES [dbo].[DE_Antonym] ([DE_Word_ID])
GO
ALTER TABLE [dbo].[DE_Dictionary] CHECK CONSTRAINT [FK_DE_Dictionary_DE_Antonym]
GO
ALTER TABLE [dbo].[DE_Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_DE_Dictionary_DE_Synonym] FOREIGN KEY([Synonym])
REFERENCES [dbo].[DE_Synonym] ([DE_Word_ID])
GO
ALTER TABLE [dbo].[DE_Dictionary] CHECK CONSTRAINT [FK_DE_Dictionary_DE_Synonym]
GO
ALTER TABLE [dbo].[DE_Synonym]  WITH CHECK ADD  CONSTRAINT [FK_DE_Synonym_DE_Dictionary] FOREIGN KEY([Synonym])
REFERENCES [dbo].[DE_Dictionary] ([DE_Word_ID])
GO
ALTER TABLE [dbo].[DE_Synonym] CHECK CONSTRAINT [FK_DE_Synonym_DE_Dictionary]
GO
ALTER TABLE [dbo].[EN_Antonym]  WITH CHECK ADD  CONSTRAINT [FK_EN_Antonym_EN_Dictionary] FOREIGN KEY([Antonym])
REFERENCES [dbo].[EN_Dictionary] ([EN_Word_ID])
GO
ALTER TABLE [dbo].[EN_Antonym] CHECK CONSTRAINT [FK_EN_Antonym_EN_Dictionary]
GO
ALTER TABLE [dbo].[EN_Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_EN_Dictionary_EN_Antonym] FOREIGN KEY([Antonym])
REFERENCES [dbo].[EN_Antonym] ([EN_Word_ID])
GO
ALTER TABLE [dbo].[EN_Dictionary] CHECK CONSTRAINT [FK_EN_Dictionary_EN_Antonym]
GO
ALTER TABLE [dbo].[EN_Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_EN_Dictionary_EN_Synonym] FOREIGN KEY([Synonym])
REFERENCES [dbo].[EN_Synonym] ([EN_Word_ID])
GO
ALTER TABLE [dbo].[EN_Dictionary] CHECK CONSTRAINT [FK_EN_Dictionary_EN_Synonym]
GO
ALTER TABLE [dbo].[EN_Synonym]  WITH CHECK ADD  CONSTRAINT [FK_EN_Synonym_EN_Dictionary] FOREIGN KEY([Synonym])
REFERENCES [dbo].[EN_Dictionary] ([EN_Word_ID])
GO
ALTER TABLE [dbo].[EN_Synonym] CHECK CONSTRAINT [FK_EN_Synonym_EN_Dictionary]
GO
ALTER TABLE [dbo].[IT_Antonym]  WITH CHECK ADD  CONSTRAINT [FK_IT_Antonym_IT_Dictionary] FOREIGN KEY([Antonym])
REFERENCES [dbo].[IT_Dictionary] ([IT_Word_ID])
GO
ALTER TABLE [dbo].[IT_Antonym] CHECK CONSTRAINT [FK_IT_Antonym_IT_Dictionary]
GO
ALTER TABLE [dbo].[IT_Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_IT_Dictionary_IT_Antonym] FOREIGN KEY([Antonym])
REFERENCES [dbo].[IT_Antonym] ([IT_Word_ID])
GO
ALTER TABLE [dbo].[IT_Dictionary] CHECK CONSTRAINT [FK_IT_Dictionary_IT_Antonym]
GO
ALTER TABLE [dbo].[IT_Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_IT_Dictionary_IT_Synonym] FOREIGN KEY([Synonym])
REFERENCES [dbo].[IT_Synonym] ([IT_Word_ID])
GO
ALTER TABLE [dbo].[IT_Dictionary] CHECK CONSTRAINT [FK_IT_Dictionary_IT_Synonym]
GO
ALTER TABLE [dbo].[IT_Synonym]  WITH CHECK ADD  CONSTRAINT [FK_IT_Synonym_IT_Dictionary] FOREIGN KEY([Synonym])
REFERENCES [dbo].[IT_Dictionary] ([IT_Word_ID])
GO
ALTER TABLE [dbo].[IT_Synonym] CHECK CONSTRAINT [FK_IT_Synonym_IT_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_BG_DE]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_BG_DE_BG_Dictionary] FOREIGN KEY([BG_ID])
REFERENCES [dbo].[BG_Dictionary] ([BG_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_BG_DE] CHECK CONSTRAINT [FK_TRANSLATION_BG_DE_BG_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_BG_DE]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_BG_DE_DE_Dictionary] FOREIGN KEY([DE_ID])
REFERENCES [dbo].[DE_Dictionary] ([DE_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_BG_DE] CHECK CONSTRAINT [FK_TRANSLATION_BG_DE_DE_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_BG_IT]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_BG_IT_BG_Dictionary] FOREIGN KEY([BG_ID])
REFERENCES [dbo].[BG_Dictionary] ([BG_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_BG_IT] CHECK CONSTRAINT [FK_TRANSLATION_BG_IT_BG_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_BG_IT]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_BG_IT_IT_Dictionary] FOREIGN KEY([IT_ID])
REFERENCES [dbo].[IT_Dictionary] ([IT_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_BG_IT] CHECK CONSTRAINT [FK_TRANSLATION_BG_IT_IT_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_DE_IT]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_DE_IT_DE_Dictionary] FOREIGN KEY([DE_ID])
REFERENCES [dbo].[DE_Dictionary] ([DE_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_DE_IT] CHECK CONSTRAINT [FK_TRANSLATION_DE_IT_DE_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_DE_IT]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_DE_IT_IT_Dictionary] FOREIGN KEY([IT_ID])
REFERENCES [dbo].[IT_Dictionary] ([IT_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_DE_IT] CHECK CONSTRAINT [FK_TRANSLATION_DE_IT_IT_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_EN_BG]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_EN_BG_BG_Dictionary] FOREIGN KEY([BG_ID])
REFERENCES [dbo].[BG_Dictionary] ([BG_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_EN_BG] CHECK CONSTRAINT [FK_TRANSLATION_EN_BG_BG_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_EN_BG]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_EN_BG_EN_Dictionary] FOREIGN KEY([EN_ID])
REFERENCES [dbo].[EN_Dictionary] ([EN_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_EN_BG] CHECK CONSTRAINT [FK_TRANSLATION_EN_BG_EN_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_EN_DE]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_EN_DE_DE_Dictionary] FOREIGN KEY([DE_ID])
REFERENCES [dbo].[DE_Dictionary] ([DE_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_EN_DE] CHECK CONSTRAINT [FK_TRANSLATION_EN_DE_DE_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_EN_DE]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_EN_DE_EN_Dictionary] FOREIGN KEY([EN_ID])
REFERENCES [dbo].[EN_Dictionary] ([EN_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_EN_DE] CHECK CONSTRAINT [FK_TRANSLATION_EN_DE_EN_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_EN_IT]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_EN_IT_EN_Dictionary] FOREIGN KEY([EN_ID])
REFERENCES [dbo].[EN_Dictionary] ([EN_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_EN_IT] CHECK CONSTRAINT [FK_TRANSLATION_EN_IT_EN_Dictionary]
GO
ALTER TABLE [dbo].[TRANSLATION_EN_IT]  WITH CHECK ADD  CONSTRAINT [FK_TRANSLATION_EN_IT_IT_Dictionary] FOREIGN KEY([IT_ID])
REFERENCES [dbo].[IT_Dictionary] ([IT_Word_ID])
GO
ALTER TABLE [dbo].[TRANSLATION_EN_IT] CHECK CONSTRAINT [FK_TRANSLATION_EN_IT_IT_Dictionary]
GO
USE [master]
GO
