body {
	font-family: Calibri;
}
div#wrapper{
	width: 335px;
}

div.btn{
	display: inline-block;
	width: 100px;
	border: 1px solid black;
	background-color: #ccc;
	border-radius: 25px;
	font-size: 32px;
	color: #fff;
	padding: 0px 20px;
	margin: 10px;
	text-align: center;
}
a{
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
}
td,th{
	border: 1px solid black;
	text-align: center;
}

td, th{
	width: 100px;
}

fieldset{
	width: 300px;
}
input, select{
	margin: 10px;
}

input#submit {
	float: right;
	border: 1px solid black;
	background-color: #ccc;
	border-radius: 25px;
	font-size: 32px;
	color: #fff;
	padding: 0px 20px;
	width: 140px;
}
